/*Note: There are three different ways to add background colors here.
You can add them using a name (for common names), Hex, or RGB values.
*/

body {

}
div {

  width:100px;
  height:100px;
}

#div-1 {
  background-color: purple;
}
#div-2 {
  background-color: #09CDA1;
}
#div-3 {
  background-color: #69D2E7;
}
#div-4 {
  background-color: rgb(205,163,205);
}

